[submodule "MreshEngine/vendor/GLFW"]
	path = MreshEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "MreshEngine/vendor/imgui"]
	path = MreshEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "MreshEngine/vendor/glm"]
	path = MreshEngine/vendor/glm
	url = https://github.com/g-truc/glm
