[submodule "MreshEngine/thirdparty/spdlog"]
	path = MreshEngine/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "MreshEngine/thirdparty/GLFW"]
	path = MreshEngine/thirdparty/GLFW
	url = https://github.com/TheCherno/glfw
	branch = master
[submodule "MreshEngine/thirdparty/imgui"]
	path = MreshEngine/thirdparty/imgui
	url = https://github.com/TheCherno/imgui
	branch = docking
[submodule "MreshEngine/thirdparty/glm"]
	path = MreshEngine/thirdparty/glm
	url = https://github.com/g-truc/glm
	branch = master
